/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@font-face {
  font-family: "filson-pro";
  font-weight: 500;
  src: url("./assets/fonts/filson-pro-500.woff2") format("woff2"),
    url("./assets/fonts/filson-pro-500.woff") format("woff");
  font-display: block;
  font-style: normal;
}

* {
  font-family: Filson-Pro, monospace;
}

body {
  background-color: #181A1B;
  color: #fff;
  margin-top: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 800;
  color: #fff;
}

::selection {
  background: $ban-y;
  color: $ban-gray;
}

::-moz-selection {
  background: $ban-y;
  color: $ban-gray;
}

button {
  align-self: center;
  font-size: 1em;
  color: #fff;
  background: $ban-gray;
  border: 3px solid #fff;
  border-radius: 0.5em;
  padding: 0.3em 0.7em;
  cursor: pointer;
}
// does not fully activate?
button:disabled {
  color: $ban-gray2;
  background: $ban-gray;
  border: 3px solid $ban-gray2;
  filter: grayscale(80%);
}

button:disabled:hover {
  border-color: $ban-gray2;
  cursor: auto;
}

button:disabled:active {
  color: $ban-gray2;
}

button:hover, .btn:hover {
  border-color: $ban-y;
}

button:active, .bt:active {
  color: $ban-y;
}

input {
  border-radius: 0.7em;
  padding: 0.3em;
}

input:focus {
  color: #495057;
  background-color: #fff;
  border-color: $ban-y;
  outline: 5em;
  box-shadow: 1px 1px #4cbf4b;
}

.error {
  font-size: 0.5em;
  margin: 0.5em 0.2em 1em 0.2em;
  height: 0.8em;
  color: deeppink;
}